<form class="registerForm"
      [formGroup]="registerForm"
      (ngSubmit)="onSubmit()">

  <div class="title">
    <h2>Register</h2>
  </div>


  <div class="gender-title">Gender</div>

  <div class="error-message"
       *ngIf="error">
    {{ error }}
  </div>

  <div class="radio-field">
    <span class="radio-group">
      <input name="gender"
             [formControlName]="'gender'"
             value="male"
             id="male"
             type="radio" />
      <label for="male">
        Male
        <span></span>
      </label>

    </span>

    <span class="radio-group">
      <input name="gender"
             value="female"
             id="female"
             type="radio" />
      <label for="female">
        Female
        <span></span>
      </label>
    </span>

  </div>

  <div class="input-field">
    <span class="m-float-input-group"
          [formFieldInvalid]="registerForm"
          [fieldName]="'username'">
      <div class="icons-end"
           *ngIf="userLoading">
        <p-progressSpinner></p-progressSpinner>
      </div>
      <input type="text"
             (focus)="onUserNameFocus()"
             [formControlName]="'username'"
             name="username"
             placeholder="Enter your name">
      <label for="">Username</label>

      <span class="error-message"
            *ngIf="formService.field_error(registerForm,'username','required')">
        Username is required.
      </span>

      <span class="error-message"
            *ngIf="formService.field_error(registerForm,'username','userDuplicated')">
        Username is duplicated.
      </span>
    </span>
  </div>

  <div class="input-field">
    <span class="m-float-input-group"
          [formFieldInvalid]="registerForm"
          [fieldName]="'email'">
      <div class="icons-end"
           *ngIf="emailLoading">
        <p-progressSpinner></p-progressSpinner>
      </div>
      <input type="text"
             (focus)="onEmailFocus()"
             [formControlName]="'email'"
             name="email"
             placeholder="Enter your email">
      <label for="">Email</label>
      <span class="error-message"
            *ngIf="formService.field_error(registerForm,'email','required')">
        Email is required.
      </span>
      <span class="error-message"
            *ngIf="formService.field_error(registerForm,'email','email')">
        Email format incorrect.
      </span>
    </span>
  </div>

  <div class="input-field">
    <span class="m-float-input-group"
          [formFieldInvalid]="registerForm"
          [fieldName]="'password'">
      <input type="password"
             [formControlName]="'password'"
             name="password"
             placeholder="Password">
      <label for="">Password</label>
      <span class="error-message"
            *ngIf="formService.field_error(registerForm,'password','required')">
        Password is required.
      </span>
      <span class="error-message"
            *ngIf="formService.field_error(registerForm,'password','minlength')">
        Password at least 6 letters.
      </span>
    </span>
  </div>

  <div class="input-field">
    <span class="m-float-input-group"
          [formFieldInvalid]="registerForm"
          [fieldName]="'confirmPassword'">
      <input type="password"
             [formControlName]="'confirmPassword'"
             name="confirmPassword"
             placeholder="Confirm password ">
      <label for="">Password Confirm</label>

      <span class="error-message"
            *ngIf="formService.field_error(registerForm,'confirmPassword','required');else confirmMinlength">
        Confirm Password is required.
      </span>
      <ng-template #confirmMinlength>
        <span class="error-message"
              *ngIf="formService.field_error(registerForm,'confirmPassword','minlength');else confirmIsmatch">
          Confirm Password at least 6 letters.
        </span>
      </ng-template>
      <ng-template #confirmIsmatch>
        <span class="error-message"
              *ngIf="formService.field_error(registerForm,'confirmPassword','isMatching')">
          Confirm password is not matched.
        </span>
      </ng-template>
    </span>
  </div>

  <div class="date-field">
    <p-calendar [formControlName]="'dateOfBirth'"
                [monthNavigator]="true"
                [yearNavigator]="true"
                [placeholder]="'Date of Birth'"
                [touchUI]="true"
                class="datepicker"
                yearRange="1900:2030"
                inputId="navigators"></p-calendar>
    <span class="error-message"
          *ngIf="formService.field_error(registerForm,'dateOfBirth','required')">
      Date of birth is required
    </span>
  </div>
  <!-- <p-calendar class="datepicker"
                [formControlName]="'dateOfBirth'"
                [placeholder]="'Date of Birth'"></p-calendar> -->


  <button class="btn btn-primary"
          type="submit">Sign up</button>

</form>
