@import "../../../styles.scss";

.mat-table {
  &::-webkit-scrollbar {
    height: 1rem;
    background-color: rgba($color-grey-light, 0.5);
    border: none;
    border-radius: 1rem;
    outline: none;
  }
  &::-webkit-scrollbar-track {
    width: 10px;
    outline: none;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $color-primary;
    border-radius: 1rem;
    outline: none;
  }
  ::-webkit-scrollbar-track-piece {
    background-color: red;
  }

  @include respond(small) {
    display: inline-block;
    max-width: 40rem;
    overflow-x: scroll;
  }

  @include respond(smallest) {
    display: inline-block;
    max-width: 20rem;
    overflow-x: scroll;
  }
}

.mat-cell {
  padding-left: 2rem;
  white-space: nowrap;
}

.mat-header-cell {
  padding: 2rem;
  white-space: nowrap;
}

.basket {
  &-table {
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
  }

  &-paging {
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
  }

  &-img {
    display: flex;
    align-items: center;
    margin: 1rem;
    height: 10rem;
    width: 10rem;
    object-fit: cover;
  }

  &-row {
    overflow-x: scroll;
    // padding: 10px;
  }

  &-quantity-action {
    display: flex;
    flex-flow: row;
  }
}

.quantity {
  &-minus {
    cursor: pointer;
    font-size: 1.5em;
    color: rgb(145, 1, 1);
  }

  &-add {
    cursor: pointer;
    font-size: 1.5em;
    color: rgb(0, 107, 0);
  }

  &-label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0.5em;
  }

  &-remove {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    margin: 0.5em;
    cursor: pointer;
    @include unselect();
  }
}

.mat-icon {
  &-add {
    @include mat-icon-size(20px);
    @include unselect();
    cursor: pointer;
    color: rgb(0, 136, 0);

    &:hover {
      color: rgb(1, 105, 1);
    }

    &:active {
      color: rgb(0, 136, 0);
    }
  }

  &-remove {
    @include mat-icon-size(20px);
    @include unselect();
    cursor: pointer;
    color: rgb(192, 3, 3);

    &:hover {
      color: rgb(117, 2, 2);
    }

    &:active {
      color: rgb(192, 3, 3);
    }
  }

  &-removeBtn {
    cursor: pointer;
    color: rgb(192, 3, 3);

    &:hover {
      color: rgb(117, 2, 2);
    }

    &:active {
      color: rgb(192, 3, 3);
    }
    @include unselect();
  }
}

mat-paginator {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  @include respond(medium) {
    flex-flow: row nowrap;
    justify-content: center;
  }
  @include respond(medium) {
    flex-flow: column nowrap;
    align-items: center;
  }
}

::ng-deep .mat-paginator .mat-paginator-container {
  @include respond(medium) {
    flex-flow: row nowrap;
    justify-content: start;
  }
  @include respond(smallest) {
    flex-flow: column nowrap;
    align-items: start;
  }
}

::ng-deep .mat-paginator .mat-paginator-page-size,
::ng-deep .mat-paginator .mat-paginator-range-actions {
  @include respond(medium) {
    flex-flow: row nowrap;
    justify-content: start;
  }
}

::ng-deep .mat-paginator .mat-paginator-range-label {
  @include respond(smallest) {
    margin: 0;
  }
}
