.btn {
  font-size: 1rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  background-color: $color-grey-light;
  color: $color-white;

  &:hover {
    transition: background-color 0.2s ease-in;
  }

  &-primary {
    background-color: $color-primary;

    &:hover {
      background-color: $color-primary-light;
    }

    &:active {
      transition: background-color 0.1s ease-in;
      background-color: $color-primary-dark;
    }
  }
}
