@import "../styles/variables";

.m-float-input-group {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;

  & input {
    border: none;
    border-bottom: 1px solid $color-grey-dark;
    border-radius: 0;
    outline: none;
    padding: 0.3rem;
    background-color: transparent;
    transition: all 1s;

    &::placeholder {
      color: transparent;
      font-size: 5px;
    }

    &:hover {
      border-color: $color-primary;
      & + label {
        color: $color-primary;
      }
    }

    &:focus {
      border-bottom: 1px solid $color-primary;
      & + label {
        color: $color-primary;
        transform: scale(0.9) translate(-10%, -140%);
      }

      &::placeholder {
        color: $color-grey-light;
      }
    }

    &:not(:placeholder-shown) {
      & + label {
        transform: scale(0.9) translate(-10%, -140%);
      }
    }
  }

  & label {
    font-size: 1rem;
    color: $color-grey-light;
    position: absolute;
    pointer-events: none;
    transform: translate(0, 0) scale(1);
    transition: all 0.4s;
  }

  &.error {
    animation-name: shake;
    animation-duration: 0.5s;
    & label {
      color: $color-error;
    }

    & input {
      border-bottom: 1px solid $color-error;
      &:focus {
        border-bottom: 1px solid $color-error;

        & + label {
          color: $color-error;
        }
      }
    }
  }

  & .error-message {
    position: absolute;
    color: $color-error;
    // transform: translateY(150%);
    top: 150%;
    // transition: color 1s;
    animation-name: shake;
    animation-duration: 0.5s;
  }
}

.input-field {
  padding: 2rem;
}

.radio-field {
  display: flex;
  flex-direction: row;
}

.radio-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 3rem;
  width: 100%;

  & label {
    font-size: 1.6rem;
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;

    & span {
      display: block;
      height: 2.5rem;
      width: 2.5rem;
      border-radius: 50%;
      position: relative;
      margin-left: 1.5rem;
      border: 4px solid $color-primary;
      transition: opacity 0.2s;

      &::after {
        content: "";
        height: 1rem;
        width: 1rem;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        background-color: $color-primary;
        border-radius: 50%;
        display: block;
      }
    }
  }

  & input {
    display: none;

    &:checked ~ label span::after {
      opacity: 1;
    }
  }
}

.error-message {
  color: $color-error;
  animation-name: shake;
  animation-duration: 0.5s;
}
