@import "../styles/variables";

.m-float-input-group {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;

  & input {
    border: none;
    border-bottom: 1px solid $color-grey-dark;
    border-radius: 0;
    outline: none;
    padding: 0.3rem;
    background-color: transparent;
    transition: all 1s;

    &::placeholder {
      color: transparent;
      font-size: 5px;
    }

    &:focus {
      border-bottom: 1px solid $color-primary;
      & + label {
        color: $color-primary;
        transform: scale(0.9) translate(-10%, -140%);
      }

      &::placeholder {
        color: $color-grey-light;
      }
    }

    &:not(:placeholder-shown) {
      & + label {
        transform: scale(0.9) translate(-10%, -140%);
      }
    }
  }

  & label {
    font-size: 1rem;
    color: $color-grey-light;
    position: absolute;
    pointer-events: none;
    transform: translate(0, 0) scale(1);
    transition: all 0.4s;
  }

  &.error {
    & label {
      color: $color-error;
    }

    & input {
      border-bottom: 1px solid $color-error;
      &:focus {
        border-bottom: 1px solid $color-error;
        & + label {
          color: $color-error;
        }
      }
    }
  }

  & .error-message {
    position: absolute;
    color: $color-error;
    transform: translateY(150%);
    transition: all 0.2s;
  }
}

.input-field {
  padding: 2rem;
}

.radio-group {
  display: flex;
  flex-direction: row;
  width: 50%;

  & label {
    font-size: 1.6rem;
    cursor: pointer;
    position: relative;
    padding-left: 4.5rem;
    & span {
      height: 3rem;
      width: 3rem;
      border: 5px solid $color-primary;
      border-radius: 50%;
      display: inline-block;
      position: absolute;
      left: 0;
      top: -0.4rem;

      &::after {
        content: "";
        display: block;
        height: 1.3rem;
        width: 1.3rem;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $color-primary;
        opacity: 0;
        transition: opacity 0.2s;
      }
    }
  }

  & input {
    display: none;

    &:checked ~ & label & span::after {
      opacity: 1;
    }
  }
}
