$color-primary: rgb(8, 174, 189);
$color-primary-light: rgb(16, 204, 221);
$color-primary-dark: rgb(7, 144, 156);

$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);

$color-grey-light: rgb(189, 189, 189);
$color-grey-dark: rgb(110, 110, 110);

$color-error: rgb(245, 88, 88);

$color-warn-btn: rgb(231, 99, 99);
$color-warn-btn-hover: rgb(218, 38, 38);
$color-warn-btn-active: rgb(195, 11, 11);

$color-notify: rgb(224, 52, 52);

$color-photo-select: rgb(231, 99, 99);
$color-photo-file-browse: rgb(71, 194, 71);
$color-photo-file-browse-hover: rgb(14, 165, 14);
$color-photo-file-browse-active: rgb(30, 139, 30);
