<mat-nav-list>
  <a mat-list-item
    routerLink="/shop"
    (click)="onNavSideClose()">
    <mat-icon>shop</mat-icon>
    <span class="nav-caption">
      {{ 'NavBar.Shop' | translate}}
    </span>
  </a>

  <a mat-list-item
    routerLink="/basket"
    (click)="onNavSideClose()">
    <mat-icon [matBadge]="basketCount"
      matBadgeSize="small"
      matBadgeColor="warn">shopping_cart</mat-icon>
    <span class="nav-caption">
      {{ 'NavBar.ShopCart' | translate}}
    </span>
  </a>

  <a mat-list-item
    routerLink="/account/login"
    *ngIf="!isAuth"
    (click)="onNavSideClose()">
    <mat-icon>person</mat-icon>
    <span class="nav-caption">
      {{ 'AccountForm.Login' | translate}}
    </span>
  </a>

  <a mat-list-item
    routerLink="/account/register"
    *ngIf="!isAuth"
    (click)="onNavSideClose()">
    <mat-icon>person_add</mat-icon>
    <span class="nav-caption">
      {{ 'AccountForm.Register' | translate}}
    </span>
  </a>
  <a mat-list-item
    *ngIf="isAuth"
    routerLink="/orders"
    (click)="onNavSideClose()">
    <mat-icon>list</mat-icon>
    <span class="nav-caption">
      {{ 'NavBar.OrdersHistory' | translate}}
    </span>
  </a>


  <a mat-list-item
    *ngIf="isAuth"
    routerLink="/home"
    (click)="onLogout()">
    <mat-icon>directions_run</mat-icon>
    <span class="nav-caption">
      {{'AccountForm.Logout' | translate }}
    </span>
  </a>


  <a mat-list-item
    (click)="showLangList()">
    <mat-icon>language</mat-icon>
    <span class="nav-caption">
      {{ 'Lang.langs' | translate }}
    </span>
    <mat-icon class="lang-arrow-icon">
      {{ showLangs ? 'arrow_right':'arrow_drop_down'  }}
    </mat-icon>
  </a>
  <mat-list *ngIf="showLangs">
    <mat-list-item *ngFor="let lang of translate.getLangs()"
      (click)="translate.use(lang)">
      <span class="lang-list">
        <mat-icon>translate</mat-icon>
        {{ 'Lang.'+ lang | translate }}
      </span>
    </mat-list-item>
  </mat-list>

</mat-nav-list>
