@import "../../styles.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation-name: moveInBottom;
  animation-duration: 0.5s;

  & .title {
    & h1 {
      margin: 1rem 0;
    }
  }

  & .content {
    display: flex;
    flex-direction: column;
    & p {
      padding: 1rem;
      font-size: 2rem;
      color: rgb(219, 32, 15);
    }
  }
}
