<div class="container">

  <div class="title">
    <h1 *ngIf="!state.query.isAuth;else loginTitle">Welcome to Random Chatroom</h1>
    <ng-template #loginTitle>
      <h1>Welcome Back !!!</h1>
    </ng-template>

  </div>

  <div class="content"
       *ngIf="!state.query.isAuth;else loginContent">
    <p>Please,Login to chat</p>
    <button routerLink="/account/login"
            class="btn btn-primary">
      Login
    </button>
  </div>
  <ng-template #loginContent>
    <div class="content">
      <p>Start your chat</p>
      <button class="btn btn-primary">
        Start Chatting
      </button>
    </div>
  </ng-template>


</div>
