<div fxLayout="row"
  fxLayout.xs="column"
  fxLayoutAlign="space-between">
  <div fxFlex="60">
    <app-checkout-stepper [linear]="true">
      <cdk-step label="{{ 'Checkout.Address' | translate }}">
        <app-checkout-address [checkoutForm]="checkoutForm"></app-checkout-address>
      </cdk-step>

      <cdk-step label="{{ 'Checkout.DeliveryMethod' | translate }}">
        <app-checkout-delivery [checkoutForm]="checkoutForm"></app-checkout-delivery>
      </cdk-step>

      <cdk-step label="{{ 'Checkout.Review' | translate }}">
        <app-checkout-review></app-checkout-review>
      </cdk-step>

      <cdk-step label="{{ 'Checkout.Payment' | translate }}">
        <app-checkout-payment [checkoutForm]="checkoutForm"></app-checkout-payment>
      </cdk-step>
    </app-checkout-stepper>
  </div>
  <div fxFlex="40">
    <app-baske-total-summary [subtotal]="(basketTotals$|async).subtotal"
      [shipping]="(basketTotals$|async).shipping"
      [total]="(basketTotals$|async).total"></app-baske-total-summary>
  </div>
</div>
