$color-primary: #3b92e4;
$color-primary-light: #2998ff;
$color-primary-dark: #5643fa;

$color-grey: grey;

$color-grey-light: rgb(187, 181, 181);
$color-grey-dark: rgb(82, 80, 80);

$color-white: #fafafa;
$color-black: #000;

$color-active: rgb(214, 18, 18);

$screen-largest: 75em; // 1200px
$screen-large: 68.75em; // 1100px
$screen-medium: 56.25em; // 900px
$screen-small: 37.5em; // 600px
$screen-smallest: 31.25em; // 500px
