$color-primary: #3b92e4;
$color-primary-light: #2998ff;
$color-primary-dark: #5643fa;

$color-grey: grey;

$color-grey-light: rgb(187, 181, 181);
$color-grey-dark: rgb(82, 80, 80);

$color-white: #fafafa;
$color-black: #000;

$color-active: rgb(214, 18, 18);

$screen-xx-large: 1400px;
$screen-x-large: 1300px;
$screen-largest: 1200px; // 1200px
$screen-large: 1100px; // 1100px
$screen-medium-large: 1000px;
$screen-medium: 900px; // 900px
$screen-small: 600px; // 600px
$screen-smallest: 500px; // 500px
