<form class="loginForm"
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()">

  <div class="title">
    <h2>Login</h2>
  </div>

  <div class="error-message"
       *ngIf="error">
    {{ error }}
  </div>


  <div class="input-field">
    <span class="m-float-input-group"
          [formFieldInvalid]="loginForm"
          [fieldName]="'emailOrUserName'">
      <input type="text"
             [formControlName]="'emailOrUserName'"
             name="emailOrUserName"
             placeholder="Enter your email or username">
      <label for="">Email or UserName</label>
      <span class="error-message"
            *ngIf="formService.field_error(loginForm,'emailOrUserName','required')">
        {{ 'Email Or UserName is required.' }}
      </span>
      <!-- <span class="error-message"
            *ngIf="formService.field_error(loginForm,'email','email')">
        {{ 'Email format incorrect.' }}
      </span> -->
    </span>
  </div>

  <div class="input-field">
    <span class="m-float-input-group"
          [formFieldInvalid]="loginForm"
          [fieldName]="'password'">
      <input type="password"
             formControlName="password"
             name="password"
             placeholder="Enter password">
      <label for="">Password</label>
      <span class="error-message"
            *ngIf="formService.field_error(loginForm,'password','required')">
        {{ 'Password is required.' }}
      </span>
      <span class="error-message"
            *ngIf="formService.field_error(loginForm,'password','minlength')">
        {{ 'Password minium length is 6.' }}
      </span>
    </span>
  </div>

  <button class="btn btn-primary"
          type="submit">Login</button>

</form>
