<mat-sidenav-container>
  <mat-sidenav #navside
               mode="over"
               role="navigation">
    <app-nav-side (navSideClose)="navside.close()"></app-nav-side>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-nav-top (navSideToggle)="navside.toggle()"></app-nav-top>
    <main>
      <router-outlet></router-outlet>
    </main>


  </mat-sidenav-content>

</mat-sidenav-container>
<!-- <footer class="shop_footer">
  <div fxLayout="row">
    <div>
      <ul class="footer-nav">
        <li><a href="#">Shop</a></li>
        <li><a href="#">About us</a></li>
      </ul>
    </div>
  </div>
  <div fxLayout="row">
    @Copyright
  </div>
</footer> -->
