@import "../styles/main.scss";

mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
  height: 100%;
}

mat-sidenav {
  width: 250px;
}

main {
  padding: 10px;
  margin-top: 5em;
  display: flex;
  justify-content: center;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: $color-grey-dark;
  padding: 2rem;

  & ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    & li {
      padding: 0 1rem;
      color: $color-white;
      font-size: 2rem;
    }
  }
}
