.order-summary {
  width: 100%;
}

.order-summary-title {
  // background-color: gray;
  border-radius: 0.1em;
  color: rgb(79, 101, 161);
  text-align: center;
  font-weight: bold;
  padding: 1.2em;
  font-size: 2em;
  // box-shadow: 2px 2px 2px rgba(110, 110, 110, 1);
}

.order-summary-hint {
  margin: 1em;
  color: rgb(231, 85, 85);
  font-weight: 900;
}

.order-summary-list {
  list-style: none;
  margin: 2em;
}

.order-list {
  padding: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  & label {
    color: gray;
    font-weight: 500;
    font-size: 1.2em;
  }

  & span {
    font-size: 1.2em;
  }
}

.btn-process {
  text-align: center;
}
