<div class="order-summary">
  <div class="order-summary-title">
    {{ 'BasketTotal.OrderSummary' | translate }}
  </div>
  <div class="order-summary-list">
    <p class="order-summary-hint"
      *ngIf="showHint">
      {{ 'BasketTotal.Hint' | translate }}
    </p>

    <div class="order-list">
      <label>{{ 'BasketTotal.SubTotal' | translate }} </label>
      <span>{{ subtotal | currency}}</span>
    </div>
    <mat-divider></mat-divider>
    <div class="order-list">
      <label>{{ 'BasketTotal.ShippingPrice' | translate }}</label>
      <span>{{ shipping | currency}}</span>
    </div>
    <mat-divider></mat-divider>
    <div class="order-list">
      <label>{{ 'BasketTotal.TotalPrice' | translate }}</label>
      <span>{{ total | currency }}</span>
    </div>
  </div>
  <div class="btn-process"
    *ngIf="showProcessBtn">
    <button mat-raised-button
      routerLink="/checkout"
      color="primary">
      {{ 'BasketTotal.ProcessCheckout' | translate }}
    </button>
  </div>
</div>
