<div [class.hide]="isLoading"
     class="payment">
  <div [formGroup]="checkoutForm"
       class="payment-form">
    <div formGroupName="paymentForm"
         class="payment-form-field">
      <input placeholder="Name"
             class="card-input"
             formControlName="nameOnCard" />
      <div #cardNumber
           class="card-input">
      </div>
      <div #cardExpiry
           class="card-input"></div>
      <div #cardCvc
           class="card-input"></div>
    </div>
    <ng-container *ngIf="cardErrors">
      <mat-error>
        {{ cardErrors }}
      </mat-error>
    </ng-container>
  </div>

  <div class="payment-action">

    <button mat-raised-button
            class="prev"
            matStepperPrevious>{{ 'Checkout.Previous' | translate}}</button>
    <button mat-raised-button
            class="payment-submit next"
            [disabled]="checkoutForm.get('paymentForm').invalid || !cardNumberValid || !cardExpiryValid || !cardCvcValid || isLoading"
            (click)="submitOrder()"
            color="primary">{{ 'Checkout.Submit' | translate}}</button>

  </div>
</div>


<div *ngIf="isLoading"
     class="loading">
  <mat-progress-spinner mode="indeterminate"
                        color="accent"
                        diameter="120"></mat-progress-spinner>
</div>
