<section class="registerForm">
  <form fxLayout="column"
    fxLayoutAlign="center center"
    [formGroup]="registerForm"
    (ngSubmit)="onSubmit()">

    <mat-error *ngIf="error">
      {{ error }}
    </mat-error>

    <mat-form-field>
      <input matInput
        type="text"
        formControlName="displayName"
        placeholder="{{ 'AccountForm.DisplayName' | translate }}"
        name="displayName" />
      <mat-error>
        <div *ngIf="displayName.errors?.required">
          {{ 'AccountForm.DisplayNameRequired' | translate }}
        </div>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput
        type="email"
        formControlName="email"
        placeholder="{{ 'AccountForm.Email' | translate }}"
        name="email" />
      <mat-error>
        <div *ngIf="email.errors?.required">
          {{ 'AccountForm.EmailRequired' | translate }}
        </div>
        <div *ngIf="email.errors?.email">
          {{ 'AccountForm.EmailFormatWrong' | translate }}
        </div>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'AccountForm.Password' | translate }}</mat-label>
      <input matInput
        type="password"
        formControlName="password"
        placeholder="{{ 'AccountForm.Password' | translate }}"
        name="password" />
      <mat-error>
        <div *ngIf="password.errors?.required">
          {{ 'AccountForm.PasswordRequired' | translate}}
        </div>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ 'AccountForm.PasswordConfirm' | translate }}</mat-label>
      <input matInput
        type="password"
        formControlName="passwordConfirm"
        placeholder="{{ 'AccountForm.PasswordConfirm' | translate }}"
        name="password" />
      <mat-error>
        <div *ngIf="passwordConfirm.errors?.required">
          {{ 'AccountForm.PasswordConfirmRequired' | translate}}
        </div>
      </mat-error>
    </mat-form-field>

    <br />
    <button type="submit"
      mat-raised-button
      color="primary"
      [disabled]="!registerForm.valid">
      {{ 'AccountForm.Register' | translate}}
    </button>
  </form>
</section>
