<section class="loginForm">
  <form fxLayout="column"
    fxLayoutAlign="center center"
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()">

    <mat-error>
      <div *ngIf="error">
        {{ error }}
      </div>
    </mat-error>

    <mat-form-field>
      <input matInput
        type="email"
        formControlName="email"
        placeholder="{{ 'AccountForm.Email' | translate }}"
        name="email" />
      <mat-error>
        <div *ngIf="email.errors?.required">
          {{ 'AccountForm.EmailRequired' | translate }}
        </div>
        <div *ngIf="email.errors?.email">
          {{ 'AccountForm.EmailFormatWrong' | translate }}
        </div>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput
        type="password"
        formControlName="password"
        placeholder="{{ 'AccountForm.Password' | translate }}"
        name="password" />
      <mat-error>
        <div *ngIf="password.errors?.required">
          {{ 'AccountForm.PasswordRequired' | translate}}
        </div>
      </mat-error>
    </mat-form-field>

    <br />
    <button type="submit"
      mat-raised-button
      [disabled]="!loginForm.valid"
      color="primary">
      {{ 'AccountForm.Login' | translate }}
    </button>
  </form>
</section>
