<section class="loginForm">
  <form fxLayout="column"
    fxLayoutAlign="center center"
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()">


    <div fxLayout="row">
      <mat-icon class="login-icon"
        [inline]="true">person</mat-icon>
      <h2 class="login-title">
        {{ 'AccountForm.Login' | translate}}
      </h2>
    </div>

    <mat-error>
      <div *ngIf="error">
        {{ error }}
      </div>
    </mat-error>

    <mat-form-field class="emailInput">
      <input matInput
        type="email"
        formControlName="email"
        placeholder="{{ 'AccountForm.Email'  | translate }} *"
        name="email" />
      <mat-icon matSuffix
        class="input-warn"
        *ngIf="email.invalid && (email.dirty || email.touched)"
        inline="true">error_outline</mat-icon>

      <mat-error>
        <div *ngIf="email.errors?.required">
          {{ 'AccountForm.EmailRequired' | translate }}
        </div>
        <div *ngIf="email.errors?.email">
          {{ 'AccountForm.EmailFormatWrong' | translate }}
        </div>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="passwordInput">
      <input matInput
        type="password"
        formControlName="password"
        placeholder="{{ 'AccountForm.Password' | translate }} *"
        name="password" />
      <mat-icon matSuffix
        class="input-warn"
        *ngIf="email.invalid && (email.dirty || email.touched)"
        inline="true">error_outline</mat-icon>

      <mat-error>
        <div *ngIf="password.errors?.required">
          {{ 'AccountForm.PasswordRequired' | translate}}
        </div>
      </mat-error>
    </mat-form-field>

    <br />
    <button type="submit"
      class="loginBtn"
      mat-raised-button
      [disabled]="!loginForm.valid"
      color="primary">
      {{ 'AccountForm.Login' | translate }}
    </button>
  </form>
</section>
