<div *ngIf="!isLoading">
  <app-basket-summary [hiddenRemove]="true"
                      [showQuantityAdj]="false"
                      (remove)="removeBasketItem($event)"></app-basket-summary>



  <div fxLayout="row"
       fxLayoutAlign="space-between center">
    <button mat-raised-button
            matStepperPrevious>{{ 'Checkout.Previous' | translate}}</button>
    <button mat-raised-button
            color="primary"
            [disabled]="isLoading"
            (click)="createPaymentIntent()">{{ 'Checkout.Next' | translate }}</button>
  </div>
</div>
<div *ngIf="isLoading"
     class="loading">
  <mat-progress-spinner mode="indeterminate"
                        color="accent"
                        diameter="120"></mat-progress-spinner>
</div>



<!-- <div fxLayout="row"
  fxLayoutAlign="space-between center">

  <button mat-raised-button
    cdkStepperPrevious
    color="warn">&larr;</button>
  <button mat-raised-button
    (click)="createPaymentIntent()"
    color="warn">&rarr;</button>
</div> -->
