<div class="container">
  <div class="message">

    <span class="message-goBottom"
          [ngClass]="{'show':showGoBottomBtn,'hide':hideGoBottomBtn}"
          (click)="goBottom()">
      <i class="far fa-arrow-alt-circle-down"></i>
    </span>
    <!-- <button (click)="goTop()">go Top</button> -->
    <ul class="message-list"
        (scroll)="checkScroll()"
        #messageListContent>
      <li class="message-item"
          *ngFor="let message of (state.query.messagesThread$ | async)">
        <div *ngIf="message.senderUsername === currentUser.userName"
             class="message-current">
          <div class="message-current-read"
               *ngIf="message?.recipientUsers[0]?.dateRead">
            <span class="message-current-readTime">
              {{ message.recipientUsers[0].dateRead | date:'LLLL d h:mm a'}}</span>
            <span class="message-current-readText">Read</span>
          </div>
          <span class="message-current-content">{{ message.content }}</span>
        </div>
        <div *ngIf="message.senderUsername !== currentUser.userName"
             class="message-others">
          <img class="message-others-mainPhoto"
               src="{{message.mainPhoto}}" />

          <span class="message-others-content">{{ message.content }}</span>
          <span class="message-others-readTime">
            {{ message.recipientUsers[0].dateRead | date:'LLLL d h:mm a'}}</span>
        </div>
      </li>
    </ul>
  </div>

  <form (ngSubmit)="sendMessage()"
        class="message-send">
    <input type="text"
           class="message-textarea"
           name="message-textarea"
           [(ngModel)]="messageContent" />
    <button type="submit"
            class="message-submitBtn">
      <i class="fas fa-play message-submit-icon"></i>
    </button>

  </form>
</div>
