<div class="container">
  <div class="message">

    <button (click)="goDown()">go down</button>
    <button (click)="goTop()">go Top</button>
    <ul class="message-list"
        #messageListContent>
      <li class="message-item"
          *ngFor="let message of (accountQuery.messagesThread$ | async)">
        <div *ngIf="message.senderUsername === currentUser.userName"
             class="message-current">
          <span class="message-current-content">{{ message.content }}</span>
          <span>{{ message?.dateRead }}</span>
        </div>
        <div *ngIf="message.senderUsername !== currentUser.userName"
             class="message-others">
          <img class="message-others-mainPhoto"
               src="{{message.mainPhoto}}" />
          <span class="message-others-content">{{ message.content }}</span>
        </div>
      </li>
    </ul>
  </div>

  <form (ngSubmit)="sendMessage()"
        class="message-send">
    <textarea type="textarea"
              class="message-textarea"
              name="message-textarea"
              [(ngModel)]="messageContent">
        </textarea>
    <button type="submit"
            class="message-submitBtn">Submit</button>

  </form>
</div>
