<section id="loginForm">
  <form fxLayout="column"
    fxLayoutAlign="center center"
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput
        type="email"
        formControlName="email"
        placeholder="{{ 'AccountForm.Email' | translate }}"
        name="email" />
      <mat-error *ngIf="!loginForm.get('email').valid && loginForm.get('email').touched">
        {{ 'AccountForm.EmailRequired' | translate }}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ 'AccountForm.Password' | translate }}</mat-label>
      <input matInput
        type="password"
        formControlName="password"
        placeholder="{{ 'AccountForm.Password' | translate }}"
        name="password" />
      <mat-error *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched">
        {{ 'AccountForm.PasswordRequired' | translate}}
      </mat-error>
    </mat-form-field>
    <button type="submit"
      mat-raised-button
      [disabled]="!loginForm.valid"
      color="primary">
      {{ 'AccountForm.Login' | translate }}
    </button>
  </form>
</section>
