@import "../../styles/main.scss";

.basket {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  @include respond($bp-small) {
    flex-flow: column wrap;
  }
}

.order-summary {
  border-radius: 0.1em;
  color: rgb(79, 101, 161);
  text-align: center;
  font-weight: bold;
  padding: 1.2em;
  font-size: 2em;

  &-hint {
    margin: 1em;
    color: rgb(231, 85, 85);
    font-weight: 900;
  }

  &-list {
    list-style: none;
    margin: 1em;
  }
}

.order-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

.btn-process {
  text-align: center;
}

.empty-cart {
  min-height: 70rem;
  &-area {
    height: 100%;
    text-align: center;
    border-width: 2px;
    background-color: rgba($color-white, 0);
    border-radius: 3px;
    padding: 5em;
    color: black;
    font-weight: bold;
    text-shadow: 2px 2px rgba(110, 110, 110, 0.2);
  }
}

app-baske-total-summary {
  width: 50rem;
  @include respond(smallest) {
    width: 100%;
  }
}
