.order-summary {
  // background-color: gray;
  border-radius: 0.1em;
  color: rgb(79, 101, 161);
  text-align: center;
  font-weight: bold;
  padding: 1.2em;
  font-size: 2em;
  // box-shadow: 2px 2px 2px rgba(110, 110, 110, 1);
}

.order-summary-hint {
  margin: 1em;
  color: rgb(231, 85, 85);
  font-weight: 900;
}

.order-summary-list {
  list-style: none;
  margin: 1em;
}

.order-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

.btn-process {
  text-align: center;
}

.empty-cart {
  text-align: center;
  margin: 3em 20em;
  background-color: rgb(185, 178, 178);
  padding: 5em;
  border-radius: 1em;
  color: white;
  box-shadow: 2px 2px rgba(110, 110, 110, 0.7);
}

.basket {
  margin-top: 5em;
}
