<div class="basket">
  <!-- <ng-container *ngIf="(basket$ | async).basketItems.length > 0"> -->
  <ng-container *ngIf="basket.basketItems.length > 0">

    <app-basket-summary (increment)="incrementItemQuantity($event)"
                        (decrement)="decrementItemQuantity($event)"
                        (remove)="removeBasketItem($event)"></app-basket-summary>

    <app-baske-total-summary [subtotal]="basketTotals.subtotal"
                             [shipping]="basketTotals.shipping"
                             [total]="basketTotals.total"
                             [showHint]="true"
                             [showProcessBtn]="true"></app-baske-total-summary>
  </ng-container>


</div>
<div class="empty-cart">
  <div class="empty-cart-area"
       *ngIf="basket.basketItems.length === 0">
    <h2>
      {{ 'Basket.TheCartEmpty' | translate }}
    </h2>
    <button mat-raised-button
            class="basket-go-shop"
            color="warn"
            routerLink="/shop">{{ 'Basket.KeepShopping' | translate }}</button>
  </div>
</div>
