<div fxLayout.gt-sm="row"
  fxLayout="column"
  fxLayoutAlign="start"
  class="basket">
  <ng-container *ngIf="(basket$ | async).basketItems.length > 0">

    <app-basket-summary fxFlex="60"
      [items]="basket$"
      (increment)="incrementItemQuantity($event)"
      (decrement)="decrementItemQuantity($event)"
      (remove)="removeBasketItem($event)"></app-basket-summary>

    <app-baske-total-summary fxFlex="40"
      [subtotal]="(basketTotals$|async).subtotal"
      [shipping]="(basketTotals$|async).shipping"
      [total]="(basketTotals$|async).total"
      [showHint]="true"
      [showProcessBtn]="true"></app-baske-total-summary>
  </ng-container>


</div>
<div class="empty-cart-area">
  <div class="empty-cart"
    *ngIf="(basket$ | async).basketItems.length === 0">
    <h4>
      The Cart is Empty
    </h4>
    <button mat-raised-button
      color="warn"
      routerLink="/shop">Keep Shopping</button>
  </div>
</div>
