<div class="checkout-success">
  <h2>
    <mat-icon class="success-icon">
      check_circle
    </mat-icon>
    {{ 'Checkout.OrderSuccessTitle' | translate }}
  </h2>
  <div fxLayout="column">
    <div class="order-info">
      <label>{{ 'Checkout.OrderId' | translate }}</label>:
      <p>{{ order.id }}</p>
    </div>
    <div>
      <button mat-raised-button
              [routerLink]="'/orders/'+order.id"
              color="primary">
        {{ 'Checkout.GoOrderDetail' | translate}}
      </button>
    </div>
  </div>
</div>
