<div [formGroup]="checkoutForm"
     class="delivery">

  <div formGroupName="deliveryForm"
       class="delivery-form">
    <p class="delivery-method-title">{{ 'Checkout.DeliverymethodTitle' | translate}}</p>
    <mat-radio-group formControlName="deliveryMethodId"
                     class="delivery-radio-group"
                     [(ngModel)]="selectDeliveryMethods">
      <mat-radio-button *ngFor="let item of deliveryMethods;let i =index"
                        class="delivery-radio-select"
                        (change)="setShippingPrice($event.value)"
                        [value]="item">
        <strong>{{ item.shortName }}</strong> - {{ item.price | currency }}
        <div>
          {{ item.description }}
        </div>
      </mat-radio-button>
    </mat-radio-group>
  </div>

</div>

<div class="delivery-action">
  <button mat-raised-button
          class="prev"
          matStepperPrevious>{{ 'Checkout.Previous' | translate}}</button>
  <button mat-raised-button
          color="primary"
          class="next"
          matStepperNext>{{ 'Checkout.Next' | translate }}</button>
</div>
