<mat-toolbar color="primary"
  fxLayout="row"
  fxLayoutAlign="space-between center">
  <div fxLayout="row"
    fxLayoutAlign="start center">
    <div fxHide.gt-sm>
      <button mat-icon-button
        (click)="onNavSideToggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div fxHide
      fxShow.gt-sm>
      <a routerLink="/home">Shop</a>
    </div>
  </div>



  <!-- <div>
    <a mat-button
      routerLink="/home">{{'NavBar.Home' | translate }}</a>
    <a mat-button
      routerLink="/shop">{{'NavBar.Shop' | translate }}</a>
  </div> -->

  <div>
    <ul class="navigation-items"
      fxHide
      fxShow.gt-sm
      fxLayout="row"
      fxLayoutAlign="end center"
      *ngIf="showBar">
      <li fxLayout="row">
        <a mat-button
          routerLink="/basket">
          <mat-icon [matBadge]="basketCount"
            matBadgeColor="warn">shopping_cart</mat-icon>
        </a>
      </li>

      <ng-container *ngIf="!isAuth">
        <li>
          <a mat-button
            routerLink="/account/login">{{'AccountForm.Login' | translate }}</a>
        </li>
        <li>
          <a mat-button
            routerLink="/account/register">{{ 'AccountForm.Register' | translate }}</a>
        </li>
      </ng-container>

      <li *ngIf="isAuth">
        <!-- <a mat-button
          routerLink="/orders">
          View Orders
        </a> -->
        <a mat-button
          [matMenuTriggerFor]="usermenu">{{ userInfo.email }}</a>
        <mat-menu #usermenu="matMenu">
          <button mat-menu-item
            routerLink="/orders">{{ 'NavTop.OrdersHistory' | translate}}</button>
          <button mat-menu-item
            routerLink="/home"
            (click)="onLogout()">{{'NavTop.Logout' | translate }}</button>
        </mat-menu>
      </li>




      <li>
        <a mat-button
          [matMenuTriggerFor]="langList">
          <mat-icon>public</mat-icon>
          {{ 'Lang.langs' | translate }}
        </a>
        <mat-menu #langList="matMenu">
          <button mat-menu-item
            *ngFor="let lang of translate.getLangs()"
            (click)="changeLang(lang)">{{ 'Lang.'+ lang | translate }}</button>
        </mat-menu>
      </li>

    </ul>
  </div>
</mat-toolbar>
