<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button
      (click)="onNavSideToggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a routerLink="/home">Shop</a>
  </div>
  <div fxFlex
    fxLayout
    fxLayoutAlign="end"
    fxHide.xs>
    <ul fxLayout
      fxLayoutGap="15px"
      class="navigation-items"
      *ngIf="showBar">
      <li *ngIf="!isAuth">
        <a mat-button
          routerLink="/account/login">{{'AccountForm.Login' | translate }}</a>
      </li>
      <li *ngIf="isAuth">
        <a mat-button
          routerLink="/home"
          (click)="onLogout()">{{'AccountForm.Logout' | translate }}</a>
      </li>
      <li *ngIf="!isAuth">
        <a mat-button
          routerLink="/account/register">{{ 'AccountForm.Register' | translate }}</a>
      </li>
      <li>
        <a mat-button
          [matMenuTriggerFor]="langList">
          <mat-icon>public</mat-icon>
          {{ 'Lang.langs' | translate }}
        </a>
        <mat-menu #langList="matMenu">
          <button mat-menu-item
            *ngFor="let lang of translate.getLangs()"
            (click)="translate.use(lang)">{{ 'Lang.'+lang | translate }}</button>
        </mat-menu>
      </li>

    </ul>
  </div>
</mat-toolbar>
