@import "../../../styles.scss";

a {
  text-decoration: none;
  color: white;
}

a:hover,
a:active {
  color: lightgray;
}

.navigation-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

mat-toolbar {
  position: fixed;
  z-index: 1;
}

.login-mat-icon {
  @include mat-icon-size(30px);
  padding-bottom: 5px;
}
