<div class="dialog">
  <mat-dialog-content fadeInOut>
    <mat-icon class="dialog-title"
      [inline]="true">error_outline</mat-icon>

    <h1>{{ 'Dialog.AreYouSure' | translate}}</h1>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button mat-raised-button
      color="primary"
      [mat-dialog-close]="true"
      cdkFocusInitial>{{ 'Dialog.Confirm'  | translate}}</button>

    <button mat-raised-button
      color="warn"
      mat-dialog-close>{{ 'Dialog.Cancel' | translate}}</button>
  </mat-dialog-actions>
</div>
