@import "../../../styles.scss";

.product {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  min-height: 70rem;
  @include unselect();

  &-title {
    color: $color-primary-dark;
    font-size: 20rem;
  }

  &-info {
    display: flex;
    flex-flow: row wrap;

    @include respond(medium) {
      flex-direction: column;
      align-items: center;
    }

    &-main {
      display: flex;
      flex-flow: column wrap;
      margin-right: 2rem;

      &-img {
        width: 25rem;
        height: 25rem;
        overflow: hidden;
        margin-bottom: 1rem;
        border-radius: 1rem;

        & img {
          width: inherit;
          height: inherit;
          object-fit: cover;
          transition: transform 0.5s;

          &:hover,
          &:active {
            transform: scale(1.1);
            cursor: pointer;
          }
        }
      }

      &-price {
        width: 25rem;
        margin-bottom: 1rem;
        @include respond(medium) {
          text-align: center;
        }
      }

      &-description {
        width: 25rem;
        overflow: hidden;
        @include respond(medium) {
          text-align: center;
          margin-bottom: 1rem;
        }
      }
    }

    &-options {
      display: flex;
      flex-direction: column;

      &-title {
        font-size: 1.6rem;
      }

      &-attr {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
      }

      &-radio {
        font-size: 1rem;
        margin-bottom: 1rem;
      }
    }
  }

  &-select {
    @include unselect();
    margin-top: 2rem;
    display: flex;
    flex-direction: column;

    &-quantity {
      display: flex;
      flex-direction: row;

      &-title {
        margin-right: 1rem;
      }
    }

    &-btns {
      display: flex;
      flex-direction: row;
      @include respond(medium) {
        flex-direction: column;
      }
      & button {
        width: 100%;
        font-size: 0.5rem;
        margin-right: 1rem;
        @include respond(medium) {
          margin-bottom: 1rem;
        }
      }
    }
  }

  &-add-icon {
    margin-right: 0.5rem;
    @include mat-icon-size(2rem);
    color: rgb(0, 136, 0);

    &:hover {
      color: rgb(1, 105, 1);
    }

    &:active {
      color: rgb(0, 136, 0);
    }
    cursor: pointer;
  }

  &-remove-icon {
    margin-left: 0.5rem;
    @include mat-icon-size(2rem);
    color: rgb(192, 3, 3);

    &:hover {
      color: rgb(117, 2, 2);
    }

    &:active {
      color: rgb(192, 3, 3);
    }
    cursor: pointer;
  }

  &-quantity-label {
    @include unselect();
    font-size: 1.6rem;
  }
}

.current-cart-quantity {
  @include unselect();
  margin-left: 1rem;
  font-size: 1.2rem;
}

.btn {
  &-action {
    @include unselect();
    padding: 0 1rem;
    width: 2rem;
    font-size: 0.5rem;
  }

  &-add-cart {
    &:hover {
      background-color: $color-active;
    }
  }

  &-go-basket {
    &:hover {
      background-color: rgb(99, 99, 236);
    }
  }

  &-return {
    &:hover {
      background-color: rgb(173, 166, 166);
      color: white;
    }
  }
}
