<div fxLayout="row"
  *ngIf="product">
  <div fxFlex="50"
    fxLayout="column"
    fxAlignLayout="start start">
    <h1>{{ product.name }}</h1>
    <img src="{{ product.productPictures[0].urlPath }}"
      alt="{{ product.productPictures[0].altAttribute}}" />
    <p>
      {{ product.description}}
    </p>
    <div>
      <p>{{ product.price | currency}}</p>
    </div>
  </div>
  <div fxFlex="50"
    fxLayout="column">
    <ng-container *ngFor="let attr of product.productAttributes">
      {{ attr.name }}
      <mat-radio-group [(ngModel)]="productAttrs">
        <mat-radio-button *ngFor="let attrValue of attr.productAttributeValue"
          [value]="attrValue.name">
          {{ attrValue.name }}
        </mat-radio-button>
      </mat-radio-group>
    </ng-container>
  </div>
</div>
