<div *ngIf="product"
     class="product">

  <div class="product-title">
    <h1>{{ product.name }}</h1>
  </div>

  <div class="product-info">
    <div class="product-info-main">

      <div class="product-info-main-img">
        <img src="{{ apiHost }}{{ product.productPictures[0].urlPath }}"
             alt="{{ product.productPictures[0].altAttribute}}" />
      </div>

      <div class="product-info-main-price">
        <label>{{ 'OrderDetail.Price' | translate }}</label> {{ totalPrice | currency}}
      </div>
      <div class="product-info-main-description">
        <label>{{ 'OrderDetail.Description' | translate }}:</label> {{ product.description}}
      </div>
    </div>

    <div class="product-info-options">
      <ng-container *ngFor="let attr of product.productAttributes;let i = index">
        <p class="product-info-options-title">{{ attr.name }}</p>
        <mat-radio-group (change)="onOptionChange($event,attr.name)"
                         [value]="attr.productAttributeValue[0]"
                         class="product-info-options-attr">
          <mat-radio-button class="product-info-options-radio"
                            *ngFor="let attrValue of attr.productAttributeValue"
                            [value]="attrValue">
            {{ attrValue.name }}
          </mat-radio-button>
        </mat-radio-group>
      </ng-container>



    </div>
  </div>

  <div class="product-select">
    <div class="product-select-quantity">
      <p class="product-select-quantity-title">{{ 'ProductDetail.Quantity' | translate }}</p>
      <mat-icon class="product-add-icon noselect"
                inline="true"
                (click)="incrementItemQuantity()">add_circle</mat-icon>
      <span class="product-quantity-label noselect">{{ quantity }}</span>
      <mat-icon class="product-remove-icon noselect"
                inline="true"
                (click)="decrementItemQuantity()">remove_circle</mat-icon>
      <h5 class="current-cart-quantity">
        ({{ 'ProductDetail.CurrentCartQuantity' | translate }}: {{ cartQuantity }})
      </h5>
    </div>

    <div class="product-select-btns">
      <button mat-raised-button
              (click)="addItemToBasket()"
              class="btnAction"
              color="warn">
        {{ 'ProductDetail.AddToCart' | translate}}
      </button>

      <button mat-raised-button
              routerLink="/basket"
              class="btnAction"
              color="primary">
        {{ 'ProductDetail.GoToBasket' | translate }}
      </button>

      <button mat-raised-button
              class="btnAction"
              routerLink="/shop">
        {{ 'ProductDetail.ReturnShop' | translate }}
      </button>
    </div>


  </div>

</div>
