<div class="card">
  <div class="card-side"
       [ngClass]="currentSide ? 'card-side-front':'card-side-front-rotate'"
       (click)="rotateSide()">
    <div class="card-picture">
      <img src="{{apiHost}}{{ product.productPictures[0].urlPath }}"
           alt="{{ product.name }}">
    </div>
    <!-- <div class="card-heading">
      {{ product.name }}
    </div> -->
    <div class="card-details">
      <ul>
        <li>
          {{ product.productCategory.name }}
        </li>
        <li>
          {{ product.name }}
        </li>
        <li>
          {{ product.price | currency}}
        </li>
      </ul>


    </div>
  </div>
  <div class="card-side"
       [ngClass]="currentSide ? 'card-side-back':'card-side-back-rotate'"
       (click)="rotateSide()">
    <div class="card-description">
      {{ product.description | trucateText:50:60 }}
    </div>
    <button class="btn btn-white"
            routerLink="/products/{{ product.id }}">{{ 'Shop.View' | translate }}</button>
  </div>
</div>
