.product-image {
  height: 150px;
  width: 100%;
  text-align: center;
  img {
    height: 200px;
  }
}

.product-add-btn {
  animation-name: add-btn;
  animation-duration: 2s;
}

mat-card-title {
  height: 30px;
  color: black;
}

.product-card {
  width: 200px;
  height: 400px;
  margin-right: 1em;
  margin-bottom: 1em;
}

.product-description {
  height: 60px;
  color: rgb(245, 106, 106);
  overflow-wrap: break-word;
}

.product-price {
  text-align: center;
  color: rgb(255, 247, 247);
  border-radius: 5px;
  padding-left: 1em;
  background-color: rgb(3, 153, 10);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
}

mat-card-actions {
  text-align: center;
}
