<mat-card class="product-card">
  <mat-card-header>
    <mat-card-title>{{ product.name }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <a href="#"
      class="product-image"
      routerLink="/shop/{{ product.id }}">
      <img mat-card-image
        src="{{product.imgUrl}}"
        alt="{{ product.name }}">
    </a>
    <p class="product-description">
      {{ product.description | trucateText:100:100 }}
    </p>
    <div class="product-price-tag">
      <p class="product-price">{{ product.price | currency}}</p>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button
      class="product-add-btn"
      color="warn"
      (click)="addItemToBasket()">Add To Cart</button>
  </mat-card-actions>
</mat-card>
