<div fxLayout="row">
  <div fxFlex="15"
    class="bar-area">
    <ng-container>
      <h4 class="bar-list-title">Sort</h4>
      <mat-form-field appearance="fill">
        <mat-select [(value)]="sortSelected"
          (selectionChange)="onSortSelected()">
          <mat-option *ngFor="let sort of sortOptions"
            [value]="sort.value">
            {{ sort.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>


      <h4 class="bar-list-title">Brands</h4>
      <li class="list-item"
        *ngFor="let brand of brands"
        [class.active]="brand.id === shopParams.brandId"
        [value]="brand.id"
        (click)="onBrandSelected(brand.id)">
        {{ brand.name }}
      </li>

      <h4 class="bar-list-title">Categories</h4>
      <li class="list-item"
        *ngFor="let category of categories"
        [class.active]="category.id === shopParams.categoryId"
        [value]="category.id"
        (click)="onCategorySelected(category.id)">
        {{ category.name }}
      </li>
    </ng-container>
  </div>

  <div class="product-area"
    *ngIf="productTotalCount>0;else productEmpty">
    <div fxLayout="row start wrap">
      <app-product-item [product]="product"
        *ngFor="let product of products"></app-product-item>
    </div>

    <mat-paginator [length]="productTotalCount"
      (page)="setPage($event)"
      [pageSize]="shopParams.pageSize"
      [pageIndex]="shopParams.pageIndex"
      [pageSizeOptions]="[5,10,25,100]"
      [showFirstLastButtons]="true">
    </mat-paginator>

  </div>
  <ng-template #productEmpty>
    <div fxFlex="75">
      <div fxLayout="row"
        fxLayoutAlign="center center"
        class="product-notfound">
        <h2>
          No Products found.
        </h2>
      </div>
    </div>
  </ng-template>


</div>
