$active-color: rgb(214, 18, 18);
.side-block {
  // background: #ddd;
  box-shadow: 10px rgba(0, 0, 0, 0.2);
}

.content-block {
  background: #bbb;
}

mat-form-field {
  width: 100%;
}

.bar-list-title {
  text-align: center;
  color: white;
  background-color: rgb(5, 43, 126);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
}

.product-list {
  margin-top: 1em;
}

.product-notfound {
  text-align: center;
  margin: 2em;
  padding: 5em;
  color: rgb(240, 94, 94);
  font-weight: bold;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}

.product-area {
  width: 100%;
  margin-left: 1em;
}

.product-search {
  width: 500px;
}

// .mat-form-field.mat-focused {
//   width: 100%;
// }

.category-tree-invisible {
  display: none;
}

.category-root-node {
  margin-top: 1em;
  cursor: pointer;
  width: 100%;
}

.category-child-node {
  z-index: 1;
  list-style: none;
  text-align: center;
  cursor: pointer;
  width: 100%;
  padding: 0.5em;
  border-left-style: solid;
  border-left-color: $active-color;
  border-left-width: 0.5em;
  margin-top: 2px;

  &:hover,
  &.active {
    background-color: $active-color;
    color: white;
    border-left-style: solid;
    border-left-color: $active-color;
    border-left-width: 0.5em;
    border-radius: 4px;
  }
}

.category-child-block {
  border-style: solid;
  border-color: black;
}

.category-all-btn {
  width: 100%;
  &.active {
    background-color: $active-color;
    color: white;
  }
}

mat-progress-spinner {
  margin-left: 20%;
  margin-top: 10%;
}

mat-paginator {
  background-color: rgba(0, 0, 0, 0);
}
