<div class="shop">

  <div class="shop-nav">

    <ng-container>
      <h4 class="shop-nav-sort-title">{{ 'Shop.Sort' | translate}}</h4>
      <mat-form-field appearance="fill">
        <mat-select [(value)]="sortSelected"
                    (selectionChange)="onSortSelected()">
          <mat-option *ngFor="let sort of sortOptions"
                      [value]="sort.value">
            {{ 'Shop.'+sort.name | translate}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div *ngIf="categories">
        <h4 class="shop-nav-list-title">{{ 'Shop.Categories' | translate }}</h4>
        <button mat-stroked-button
                [class.active]="shopParams.categoryId === 0"
                class="shop-nav-all-btn"
                (click)="onCategorySelected(0)">{{ 'Shop.All' | translate }}</button>

        <cdk-tree class="shop-nav-trees"
                  [dataSource]="categories"
                  [treeControl]="categoriesTreeControl">


          <cdk-nested-tree-node *cdkTreeNodeDef="let node;when: hasChild"
                                class="shop-nav-root">

            <div [attr.aria-label]="'Toggle ' + node.name"
                 class="shop-nav-root-node"
                 cdkTreeNodeToggle>

              <div class="shop-nav-root-name">
                {{ node.name }}
              </div>
              <mat-icon class="shop-nav-root-icon"
                        [@rotated]="categoriesTreeControl.isExpanded(node) ? 'end':'start'">
                chevron_right
              </mat-icon>
            </div>
            <span *ngIf="categoriesTreeControl.isExpanded(node)">
              <ng-container cdkTreeNodeOutlet>
              </ng-container>
            </span>
          </cdk-nested-tree-node>

          <cdk-nested-tree-node *cdkTreeNodeDef="let node"
                                class="shop-nav-child"
                                [class.active]="shopParams.categoryId === node.id"
                                (click)="onCategorySelected(node.id)">
            <div class="shop-nav-child-name">
              {{ node.name }}
            </div>
          </cdk-nested-tree-node>

        </cdk-tree>


      </div>
    </ng-container>
  </div>


  <div class="shop-products">

    <div class="shop-products-search">
      <form>
        <mat-form-field>
          <button mat-button
                  type="submit"
                  (click)="onSearch()"
                  (keydown.enter)="onSearch()"
                  color="primary"
                  matPrefix>
            <mat-icon>search</mat-icon>
          </button>

          <input matInput
                 #searchInput
                 [formControl]="searchControl"
                 [matAutocomplete]="autocompleteTemplateRefId">

          <button mat-button
                  *ngIf="searchControl.value"
                  matSuffix
                  mat-icon-button
                  aria-label="Clear"
                  (click)="searchControl.setValue('')">
            <mat-icon>close</mat-icon>


          </button>

          <mat-autocomplete #autocompleteTemplateRefId="matAutocomplete">
            <mat-option *ngFor="let item of searchOptions"
                        [@fadeInGrowList]
                        [value]="item.name">
              {{ item.name }}
            </mat-option>
          </mat-autocomplete>

        </mat-form-field>
      </form>
    </div>

    <div>
      <div *ngIf="!isLoading">
        <div *ngIf="productTotalcount;else productEmpty">
          <div class="shop-products-paging">
            <!-- <mat-paginator [length]="(products$ |async)?.totalCount" -->
            <mat-paginator [length]="productTotalcount"
                           (page)="setPage($event)"
                           [pageSize]="shopParams.pageSize"
                           [pageIndex]="shopParams.pageIndex"
                           [pageSizeOptions]="[5,10,25,100]"
                           [showFirstLastButtons]="true">
            </mat-paginator>
          </div>
          <div [@fadeInGrowList]
               class="shop-products-list">
            <app-product-item [product]="product"
                              *ngFor="let product of products"></app-product-item>

          </div>
          <div class="shop-products-paging">
            <mat-paginator [length]="productTotalcount"
                           (page)="setPage($event)"
                           [pageSize]="shopParams.pageSize"
                           [pageIndex]="shopParams.pageIndex"
                           [pageSizeOptions]="[5,10,25,100]"
                           [showFirstLastButtons]="true">
            </mat-paginator>
          </div>
        </div>
        <ng-template #productEmpty>
          <div>
            <div class="product-notfound">
              <h2>
                {{ 'Shop.NoProductsFound' | translate}}
              </h2>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>





</div>
<div *ngIf="isLoading">
  <mat-progress-spinner mode="indeterminate"
                        color="accent"
                        diameter="120"></mat-progress-spinner>
</div>
