$active-color: rgb(214, 18, 18);
.side-block {
  // background: #ddd;
  box-shadow: 10px rgba(0, 0, 0, 0.2);
}

.content-block {
  background: #bbb;
}

mat-form-field {
  width: 100%;
}

.bar-list-title {
  text-align: center;
  color: white;
  background-color: rgb(5, 43, 126);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
}

.product-list {
  margin-top: 1em;
}

.product-notfound {
  text-align: center;
  margin: 2em;
  padding: 5em;
  color: rgb(240, 94, 94);
  font-weight: bold;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}

.product-area {
  width: 100%;
  margin-left: 1em;
}

.product-search {
  width: 500px;
}

.category-tree-invisible {
  display: none;
}

.tree-node-root {
  &:first-child {
    margin-top: 10%;
  }
}

.category-root-node {
  padding: 10px 0;
  cursor: pointer;
  width: 100%;
  &:hover,
  &:active {
    background-color: #bbb;
    border-radius: 5px;
    color: rgb(45, 114, 243);
  }
}

.category-root-name {
  font-size: 20px;
  width: 100%;
  margin: auto;
  margin-left: 10px;
}

.category-child-node {
  top: 0;
  padding: 10px;
  margin-left: 20px;
  list-style: none;
  cursor: pointer;
  width: 100%;

  &:hover,
  &:active,
  &.active {
    width: 90%;
    background-color: #bbb;
    border-radius: 4px;
    color: rgb(45, 114, 243);
  }
}

.category-item {
  font-size: 18px;
}

.category-all-btn {
  width: 100%;
  &.active {
    background-color: $active-color;
    color: white;
  }
}

mat-progress-spinner {
  margin-left: 20%;
  margin-top: 10%;
}

mat-paginator {
  background-color: rgba(0, 0, 0, 0);
}
