.side-block {
  // background: #ddd;
  box-shadow: 10px rgba(0, 0, 0, 0.2);
}

.content-block {
  background: #bbb;
}

li {
  list-style: none;
}

.list-item {
  &.active {
    background-color: gray;
  }
}
