@import "../../../styles.scss";

.detail {
  min-height: 70rem;
  display: flex;
  flex-flow: column;
  align-items: center;

  &-content {
    display: flex;
    align-items: flex-start;
    flex-flow: column;
    height: 100%;
    @include common-scroll();
    @include respond(medium) {
      width: 60rem;
    }

    @include respond(small) {
      width: 50rem;
      overflow-x: scroll;
    }

    @include respond(smallest) {
      width: 20rem;
      overflow-x: scroll;
    }
  }

  &-table {
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
  }

  &-img {
    margin-top: 0.5rem;
    height: 100px;
    width: 100px;
    object-fit: cover;
  }

  &-return {
    margin-top: 1em;
    text-align: center;

    &-btn {
      &:hover {
        background-color: rgb(117, 2, 2);
      }
    }
  }
}

.mat-cell {
  padding-left: 2rem;
  white-space: nowrap;
}

.mat-header-cell {
  padding: 2rem;
  white-space: nowrap;
}

.mat-table {
  background-color: rgba(255, 255, 255, 0);
}
