<nav>
  <div class="title">
    <a routerLink="/">
      ChatRoom
    </a>
  </div>
  <ul class="nav-list">
    <li class="nav-item"
        #notify
        *ngIf="accountQuery.isAuth">
      <a class="nav-btn"
         (click)="toggleNotify()">
        <i class="far fa-bell"
           *ngIf="notifyCount > 0"
           pBadge
           severity="danger"
           [value]="notifyCount"></i>
        <i class="far fa-bell"
           *ngIf="notifyCount === 0"></i>
      </a>
      <div class="notify hide"
           [ngClass]="{'show': showNotify  }">
        <ul class="notify-list"
            *ngIf="notifies.length > 0;else noNotify">
          <li class="notify-item"
              *ngFor="let notify of notifies">
            <div *ngIf="notify.notificationType === 0"
                 class="notify-friend">
              <img class="notify-friend-img"
                   [src]="notify.requestUser.mainPhoto" />
              <div class="notify-friend-content">
                <span class="notify-friend-username">{{ notify.requestUser.userName }} </span>
                <span class="notify-friend-question">Ask you to be friend?</span>
                <div class="notify-friend-action">
                  <button class="notify-friend-action-confirm"
                          (click)="acceptRequest(notify.requestUserId)">Accept</button>
                  <button class="notify-friend-action-cancel"
                          (click)="cancelRequest()">Cancel</button>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <ng-template #noNotify>
          <div class="notify-list">
            <span class="notify-empty">
              No Notification
            </span>
          </div>
        </ng-template>
      </div>
    </li>
    <li class="nav-item"
        *ngIf="accountQuery.isAuth"
        routerLink="/message">
      <a class="nav-btn">
        <fa-icon [icon]="faComment"></fa-icon>
      </a>
    </li>
    <li class="nav-item"
        *ngIf="accountQuery.isAuth"
        routerLink="/admin">
      <img src="{{headPhotoUrl}}"
           class="userImg" />
    </li>

    <li *ngIf="!accountQuery.isAuth"
        routerLink="/account/login"
        class="nav-item">
      <a class="nav-btn">Login</a>
    </li>

    <li *ngIf="!accountQuery.isAuth"
        routerLink="/account/register"
        class="nav-item">
      <a class="nav-btn">Register</a>
    </li>

    <li *ngIf="accountQuery.isAuth"
        (click)="toggleMenu()"
        #menu
        class="nav-item">
      <a class="nav-btn">{{ accountQuery.username }}
        <i class="fas fa-chevron-circle-down"></i>
      </a>

      <ul class="menu hide"
          [ngClass]="{ 'show': showMenu}">
        <li class="menu-item"
            routerLink="/account/profile">
          <a class="menu-btn">Profile</a>
        </li>
        <li class="menu-item"
            routerLink="/message/list">
          <a class="menu-btn">Messages</a>
        </li>
        <li class="menu-item"
            routerLink="/friends">
          <a class="menu-btn">Friends</a>
        </li>
        <li class="menu-item"
            (click)="logout()">
          <a class="menu-btn">Logout</a>
        </li>
      </ul>
    </li>

  </ul>
</nav>
