<nav>
  <div class="title">
    <a routerLink="/">
      ChatRoom
    </a>
  </div>
  <ul class="nav-list">
    <li class="nav-item"
        *ngIf="accountQuery.isAuth"
        routerLink="/message">
      <a class="nav-btn">
        <fa-icon [icon]="faComment"></fa-icon>
      </a>
    </li>
    <li class="nav-item"
        *ngIf="accountQuery.isAuth"
        routerLink="/admin">
      <img src="{{headPhotoUrl}}"
           class="userImg" />
    </li>

    <li *ngIf="!accountQuery.isAuth"
        routerLink="/account/login"
        class="nav-item">
      <a class="nav-btn">Login</a>
    </li>

    <li *ngIf="!accountQuery.isAuth"
        routerLink="/account/register"
        class="nav-item">
      <a class="nav-btn">Register</a>
    </li>

    <li *ngIf="accountQuery.isAuth"
        (click)="toggleMenu()"
        #menu
        class="nav-item">
      <a class="nav-btn">{{ accountQuery.username }}
        <i class="fas fa-chevron-circle-down"></i>
      </a>

      <ul class="menu hide"
          [ngClass]="{ 'show': showMenu}">
        <li class="menu-item"
            routerLink="/account/profile">
          <a class="menu-btn">Profile</a>
        </li>
        <li class="menu-item"
            routerLink="/message">
          <a class="menu-btn">Messages</a>
        </li>
        <li class="menu-item"
            routerLink="/friends">
          <a class="menu-btn">Friends</a>
        </li>
        <li class="menu-item"
            (click)="logout()">
          <a class="menu-btn">Logout</a>
        </li>
      </ul>
    </li>

  </ul>
</nav>
