@import "../../styles.scss";

nav {
  z-index: 50;
  display: flex;
  flex-direction: row;
  background-color: $color-primary;
  height: 6rem;
  width: 100%;
  justify-content: space-between;

  & .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    & a {
      margin-left: 1rem;
      text-decoration: none;
      color: white;
      font-size: 2.5rem;
    }
  }

  & .nav-list {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    background-color: $color-primary;

    & .nav-item {
      padding: 0 1rem;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      cursor: pointer;
      position: relative;

      &:hover {
        background-color: $color-primary-dark;
      }

      & .nav-btn {
        font-size: 2.5rem;
        text-decoration: none;
        color: $color-white;
      }
    }
  }
}

.notify {
  position: relative;
  z-index: 50;

  &.hide {
    display: none;
  }

  &.show {
    display: block;
  }

  &-list {
    background-color: $color-white;
    display: flex;
    flex-direction: column;
    position: absolute;
    border: none;
    padding: 1rem;
    top: 3.5rem;
    right: 0;
    width: 25rem;
    box-shadow: 0 0 1.5rem rgba($color-black, 0.4);
  }

  &-item {
    list-style: none;
  }

  &-empty {
    display: flex;
    justify-content: center;
    color: $color-primary;
    font-size: 1.6rem;
  }

  &-friend {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    &-img {
      padding: 0.3rem;
      width: 5rem;
      height: 5rem;
      border-radius: 3rem;
    }

    &-content {
      margin-left: 1rem;
      display: flex;
      flex-direction: column;
      // line-height: 2.5rem;
    }

    &-username {
      font-size: 1.6rem;
      color: $color-primary;
    }

    &-question {
      margin-top: 0.2rem;
      font-size: 1.3rem;
    }

    &-action {
      margin-top: 1rem;
      display: flex;
      flex-direction: row;

      &-confirm {
        border: none;
        border-radius: 1rem;
        background-color: $color-primary;
        color: $color-white;
        padding: 0.4rem 0.8rem;
        cursor: pointer;
      }

      &-cancel {
        border: none;
        border-radius: 1rem;
        background-color: $color-grey-light;
        margin-left: 1rem;
        color: $color-white;
        padding: 0.4rem 0.8rem;
        cursor: pointer;
      }
    }
  }
}

.menu {
  &.hide {
    display: none;
  }

  z-index: 50;
  &.show {
    display: flex;
  }

  top: 7rem;
  right: 0rem;
  box-shadow: 0 0 1.5rem rgba($color-black, 0.4);
  position: absolute;
  border: none;
  background-color: $color-white;
  border-radius: 0.2rem;
  width: 10rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 1rem;
  animation-name: fadeIn;
  animation-duration: 0.2s;

  &-item {
    border-radius: 0.2rem;
    display: flex;
    justify-content: center;
    padding: 1rem 0.5rem;
    cursor: pointer;

    &:hover {
      background-color: $color-primary;
      color: $color-white;
    }

    &:not(:last-child) {
      border-bottom: 1px solid rgba($color-black, 0.2);
    }

    &-btn {
      color: $color-black;
    }
  }

  &-dropdown {
    font-size: 1rem;
  }
}

.userImg {
  margin-right: 1rem;
  height: 5rem;
  width: 5rem;
  transition: all 0.3s;
  background-attachment: fixed;
  border-radius: 3rem;
  cursor: pointer;
  object-fit: cover;
  &:hover {
    transform: scale(1.1);
  }
}

.fa-chevron-circle-down {
  font-size: 1.4rem;
  margin-left: 0.5rem;
}
