@import "../../styles.scss";
.message {
  display: flex;
  width: 50rem;
  flex-direction: row;
  justify-content: center;

  &-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-list {
    list-style: none;
    border: none;
    width: 100%;

    &-content {
      display: flex;
      flex-direction: row;
    }
  }

  &-info {
    display: flex;
    flex-direction: column;
  }

  &-unread {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-unread;
    color: $color-white;
    border-radius: 3rem;
    width: 2rem;
    height: 2rem;
    // padding: 1rem;
  }

  &-item {
    &:not(:last-child) {
      margin-bottom: 1rem;
      border-bottom: 1px solid $color-grey-light;
    }
  }

  &-item-content {
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    height: 10rem;
    gap: 3rem;
    padding: 1rem;
    cursor: pointer;
  }

  &-img {
    width: 5rem;
    height: 5rem;
    // margin-right: 1rem;
    border-radius: 5rem;
  }

  &-groupName {
    font-size: 1.6rem;
    color: $color-primary;
  }

  &-detail {
    width: 100%;
    display: flex;
    // flex-direction: column;
  }

  &-lastMessage {
    font-size: 1.6rem;
    color: $color-primary;
    max-width: 10rem;
    max-height: 20rem;
    word-wrap: break-word;
    border-radius: 1rem;
    padding: 1rem;
    overflow-wrap: break-word;
    overflow: auto;
  }

  &-content {
    width: 100%;
    & div {
      width: 100%;
    }
  }

  &-notselect {
    display: flex;
    justify-content: center;
    margin-top: 20%;

    & span {
      cursor: pointer;
      background-color: rgba($color-primary, 0.8);
      color: $color-white;
      padding: 1rem;
      border-radius: 1rem;

      &:hover {
        background-color: rgba($color-primary-dark, 0.8);
      }
    }
  }
}
