<div class="message"
     *ngIf="messageGroupList.length > 0">
  <div class="message-nav">
    <ul class="message-list">
      <li *ngFor="let message of messageGroupList"
          (click)="getMessageThread(message)"
          class="message-item">


        <div *ngIf="message.groupName === currentUser.userName"
             class="message-item-content">
          <img [src]="message.groupOtherImg"
               class="message-img" />
          <div class="message-info">
            <span class="message-groupName">{{ message.groupOtherName }}</span>
            <div class="message-detail">
              <span class="message-lastMessage">{{ message.lastMessages }}</span>
              <span class="message-unread"> {{ message.unreadCount }}</span>
            </div>
          </div>
        </div>
        <div *ngIf="message.groupName !== currentUser.userName"
             class="message-item-content">

          <img [src]="message.groupImg"
               class="message-img" />
          <div class="message-info">
            <span class="message-groupName">{{ message.groupName }}</span>
            <div class="message-detail">
              <span class="message-lastMessages">{{ message.lastMessages }}</span>
              <span class="message-unread"> {{ message.unreadCount }}</span>
            </div>
          </div>

        </div>

      </li>

    </ul>
  </div>
  <div class="message-content">
    <div *ngIf="currentChatroomUser;else emptyUser">
      <app-message-chatroom #chatroom
                            [messageGroupId]="currentChatroomGroupId"
                            [recipientUserName]="currentChatroomUser"></app-message-chatroom>
    </div>
    <ng-template #emptyUser>
      <div class="message-notselect">
        <span>
          Please select chatroom
        </span>
      </div>
    </ng-template>


  </div>
</div>
<div *ngIf="messageGroupList.length === 0">
  Doesn't have a message yet.
</div>
