<div class="friend-container">

  <div class="friend-search"
       *ngIf="friendList?.length > 0">
  </div>
  <div class="friend-list"
       *ngIf="friendList?.length > 0">
    <ul>
      <li *ngFor="let friend of friendList"
          class="friend-item">
        <div class="friend-info">
          <span [ngClass]="{
                  'friend-offline':!userOnline.includes(friend.friend.userName),
                  'friend-online':userOnline.includes(friend.friend.userName)
                }">
          </span>
          <img class="friend-img"
               src="{{ getFriendMainPhoto(friend.friend.photos) }}"
               alt="">
          <span class="friend-name">
            {{ friend.friend.userName }}
          </span>
        </div>
        <div class="friend-message"
             (click)="goMessage(friend)">
          <i class="far fa-comment-dots"></i>
        </div>
        <div class="friend-remove">
          <button (click)="removeFriend(friend)">Remove</button>
        </div>
      </li>
    </ul>
  </div>
</div>
